
@font-face {
  font-family: 'RRPioneer-Italic';
  src: url('RRPioneer-Italic.eot?#iefix') format('embedded-opentype'),  url('RRPioneer-Italic.woff') format('woff'), url('RRPioneer-Italic.ttf')  format('truetype'), url('RRPioneer-Italic.svg#RRPioneer-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
