
@font-face {
  font-family: 'RRPioneer-MediumItalic';
  src: url('RRPioneer-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('RRPioneer-MediumItalic.woff') format('woff'), url('RRPioneer-MediumItalic.ttf')  format('truetype'), url('RRPioneer-MediumItalic.svg#RRPioneer-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
