
@font-face {
  font-family: 'RRPioneer-Medium';
  src: url('RRPioneer-Medium.eot?#iefix') format('embedded-opentype'),  url('RRPioneer-Medium.woff') format('woff'), url('RRPioneer-Medium.ttf')  format('truetype'), url('RRPioneer-Medium.svg#RRPioneer-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
